<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome page</title>
    <link rel="stylesheet" href="/landing.css">
</head>
<body>
   <div class="container">
    <div>
        <h1>Vagon</h1>
    </div>
    <div>
        <p><a href="/login">Login</a></p>
        <p><a href="/signup">signup</a></p>
    </div>
   </div>
   <div class="now">
    <div>
    <p>play with my CRUD APPLICATION by logging in if you have an account if none go to the signup button and create it</p>
    </div>
    <p>Welcome to Vagon and I hope you shall enjoy</p>
   </div>
</body>
</html>