<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login page</title>
    <link rel="stylesheet" href="/landing.css">
</head>
<body>
    <div class="container">
        <div>
            <h1>Vagon</h1>
        </div>
        <div>
            <p><a href="/login">Login</a></p>
            <p><a href="/signup">signup</a></p>
        </div>
       </div>
    <form action="/login" class="form" method="post">
        <h1>LOGIN PAGE</h1>
        <div class="logg">
            <div class="log">
                <label for="email">Email</label><br>
                <input type="email" name="email" placeholder="Enter your email">
            </div>
            <div class="log">
                <label for="password">password</label><br>
                <input type="password" name="password" placeholder="Enter your password">
            </div>
            <div>
                <button><a href="/">SUBMIT</a></button>
            </div>
        </div>
       
    </form>
</body>
</html>